@use '../var' as *;
@use '../mixins' as *;

.card {
  padding-inline: 50px;
  padding-block-start: 134px;
  padding-block-end: 156px;

  &__title {
    @include main-title;
    margin-bottom: 53px;
  }

  &__list {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 30px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 60px;
  }

  &__item {
    max-width: 320px;

    &-img {
      width: 100%;
      display: block;
      max-height: 185px;
    }

    &-container {
      color: $paragraph-color;
      padding-block-start: 25px;
      padding-block-end: 30px;
      padding-inline: 23.7px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: $white;
      font-weight: $weightRegular;
      min-height: 436px;
    }

    &-title {
      font-family: $mulish;
      font-weight: $weightBold;
      font-size: $size-14;
      line-height: 1.86;
      letter-spacing: 0.11em;
      text-transform: uppercase;
    }

    &-paragraph {
      font-size: $size-16;
      line-height: 1.62;
    }

    &-mark {
      font-size: $size-14;
      line-height: 1.71;
      color: $mark-color;
      flex-grow: 1;
    }

    &-date {
      font-size: $size-14;
      line-height: 1.71;
      font-size: $size-12;
      color: $mark-color;
      margin-top: auto;
    }

    &-button {
      font-family: $mulish;
      padding-block: 16px;
      padding-inline: 20px;
      background-color: $paragraph-color;
      white-space: nowrap;
      color: $white;
      &:hover {
        background-color: $white;
        color: $paragraph-color;
        box-shadow: inset 0 0 0 2px $paragraph-color;
        transition: all 0.4s ease;
      }
    }
  }

  &__contacts-smbt {
    @include contacts-smbt;
    justify-content: center;
    &-btn {
      @include contacts-smbt-btn;
    }

    &-block {
      @include contacts-smbt-block;
    }
  }
}

@media only screen and (width <= 768px) {
  .card {
    padding-block-start: 44px;
    padding-inline: 40px;

    &__list {
      grid-template-columns: repeat(auto-fill, 334px);
      row-gap: 24px;
      column-gap: 20px;
    }

    &__item {
      max-width: 334px;
    }
  }
}

@media only screen and (width <= 360px) {
  .card {
    padding-block-start: 48px;
    padding-block-end: 43px;
    padding-inline: 15px;

    &__title {
      font-size: $size-20;
      margin-bottom: 30px;
    }

    &__list {
      grid-template-columns: repeat(auto-fill, 330px);
      row-gap: 20px;
      margin-bottom: 38px;
    }

    &__item {
      max-width: 330px;
    }
  }
}
