@use '../var' as *;
@use '../mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 28px;
  padding-inline: 50px;

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    max-width: 156px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    gap: 20px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 76px;
    font-weight: $weightBold;
    font-size: $size-14;
    line-height: 1.5;
    color: $white;

    &-list {
      display: flex;
      align-items: center;
      gap: 42px;
      width: fit-content;

      &-item {
        white-space: nowrap;
        &:hover {
          transition: color 0.4s ease;
          color: $submit-color;
        }
      }
    }
  }

  &__contacts {
    margin-right: 0;
    display: flex;
    align-items: start;
    gap: 12.5px;

    &-phone {
      padding: 18px 23px 18px 20px;
      box-shadow: inset 0 0 0 2px #717171;
      transform: skewX(-17deg);
      height: 100%;
      &:hover {
        transition: all 0.4s ease;
        box-shadow: inset 0 0 0 2px $submit-color-2;
      }

      &:hover .header__contacts-phone-logo {
        transition: all 0.4s ease;

        color: $submit-color-2;
      }

      &-logo {
        color: #717171;
        max-width: 20px;
        transform: skewX(20deg);
      }
    }

    &-smbt {
      @include contacts-smbt;
      &-btn {
        @include contacts-smbt-btn;
      }

      &-block {
        @include contacts-smbt-block;
      }
    }
  }

  &__burger {
    display: none;
  }
}

@media only screen and (width <= 1536px) {
  .header__nav-list-item:nth-child(-n + 2) {
    display: none;
  }
}

@media only screen and (width <= 1400px) {
  .header__nav-list-item:nth-child(-n + 3) {
    display: none;
  }
}

@media only screen and (width <= 1200px) {
  .header__nav-list-item:nth-child(-n + 4) {
    display: none;
  }
}

@media only screen and (width <= 992px) {
  .header {
    &__wrapper {
      width: fit-content;
    }

    &__nav {
      margin-left: 40px;
    }

    &__contacts {
      &-phone {
        margin-right: -8px;
      }

      &-smbt {
        max-width: 212px;
        height: 60px;

        &-btn {
          max-width: 212px;
          height: 60px;
          height: 100%;
        }
      }
    }
  }
  .header__nav-list-item:nth-child(-n + 5) {
    display: none;
  }
}

@media only screen and (width <= 768px) {
  .header {
    position: relative;

    &__wrapper {
      position: absolute;
      top: 119px;
      left: -200%;
      width: 100vw;
      height: 100vh;
      background-color: #131313;
      transition: all 0.3s;
      padding: 0 20px;
      display: block;
    }

    &__nav {
      position: static;
      padding: 0;
      width: initial;
      height: initial;
      z-index: 50;
      padding: 60px 50px;
      background-color: $main-bgc;
      animation: burgerAnimation 0.4s;
      margin-left: 0;

      &-list {
        flex-direction: column;
        align-items: start;
        gap: 30px;
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        color: transparent;
      }

      &-link {
        text-shadow:
          -1px 0 #808080,
          0 1px #808080,
          1px 0 #808080,
          0 -1px #808080;
      }

      @keyframes burgerAnimation {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    &__burger {
      display: flex;
      position: relative;
      z-index: 55;
      align-items: center;
      justify-content: flex-start;
      width: 30px;
      height: 18px;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: #faf6f2;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
        width: 50%;
      }

      &::after {
        bottom: 0;
        width: 70%;
      }

      &-span {
        height: 2px;
        width: 100%;
        transform: scale(1);
        background-color: #faf6f2;
      }
    }

    &__contacts {
      flex-direction: column;
      margin-top: auto;
      margin-bottom: 0;

      &-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 23px 18px 20px;
        width: 100%;
        margin-inline: auto;
        min-height: 70px;

        &-logo {
          max-width: 32px;
          margin-inline: auto;
        }
      }

      &-smbt {
        max-width: none;
        height: auto;
        width: 100%;
        min-height: 70px;

        &-btn {
          max-width: none;
          height: auto;
          width: 100%;
        }

        &-block {
          display: none;
        }
      }
    }
  }

  .header__burger.active .header__burger-span {
    transform: scale(0);
  }

  .header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    width: 100%;
  }

  .header__burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
    width: 100%;
  }

  .header__wrapper.open {
    left: 0;
    z-index: 50;
  }

  @supports ((text-stroke: 1px #808080) or (-webkit-text-stroke: 1px #808080)) {
    .header__nav-link {
      -webkit-text-stroke: 1px #808080;
      text-stroke: 1px #808080;
      text-shadow: none;
    }
  }

  .header__nav-list-item:nth-child(n) {
    display: flex;
  }
}

@media only screen and (width <= 576px) {
  .header__contacts {
    display: flex;
  }

  .header__contacts-phone {
    gap: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
  }

  .header__nav-list {
    gap: 15px;
    font-size: 20px;
  }
}

@media only screen and (width <= 390px) {
  .header__nav {
    padding: 0 0 51px;
  }
}
