@use '../var' as *;
@use '../mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 28px;
  padding-inline: 50px;

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    max-width: 156px;
  }

  &__nav {
    width: 100%;
    margin-left: 76px;
    font-weight: $weightBold;
    font-size: $size-14;
    line-height: 1.5;
    color: $white;

    &-list {
      display: flex;
      align-items: center;
      gap: 42px;
      width: fit-content;

      &-item {
        white-space: nowrap;
      }
    }
  }

  &__contacts {
    margin-right: 0;
    display: flex;
    align-items: start;
    gap: 12.5px;

    &-phone {
      padding: 18px 23px 18px 20px;
      border: 1px solid #717171;
      transform: skewX(-17deg);

      &-logo {
        max-width: 20px;
        transform: skewX(20deg);
        opacity: 0.4;
      }
    }

    &-smbt {
      @include contacts-smbt;

      &-btn {
        @include contacts-smbt-btn;
      }

      &-block {
        @include contacts-smbt-block;
      }
    }
  }

  &__burger {
    display: none;
  }
}

@media only screen and (width <= 1536px) {
  .header__nav-list-item:nth-child(-n + 2) {
    display: none;
  }
}

@media only screen and (width <= 1400px) {
  .header__nav-list-item:nth-child(-n + 3) {
    display: none;
  }
}

@media only screen and (width <= 1200px) {
  .header__nav-list-item:nth-child(-n + 4) {
    display: none;
  }
}

@media only screen and (width <= 992px) {
  .header__nav-list-item:nth-child(-n + 5) {
    display: none;
  }

  .header__contacts-phone {
    margin-right: -8px;
  }

  .header__contacts-smbt {
    max-width: 212px;
    height: 60px;
  }

  .header__contacts-smbt-btn {
    max-width: 212px;
    height: 60px;
    height: 100%;
  }

  .header__nav {
    margin-left: 40px;
  }
}

@media only screen and (width <= 768px) {
  .header {
    position: relative;
  }

  .header__burger {
    display: flex;
    position: relative;
    z-index: 55;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 18px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: #faf6f2;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
      width: 50%;
    }

    &::after {
      bottom: 0;
      width: 70%;
    }

    &-span {
      height: 2px;
      width: 100%;
      transform: scale(1);
      background-color: #faf6f2;
    }
  }

  .header__burger.active .header__burger-span {
    transform: scale(0);
  }

  .header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    width: 100%;
  }

  .header__burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
    width: 100%;
  }

  .header__nav {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 119px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    padding: 60px 50px;
    background-color: $main-bgc;
    animation: burgerAnimation 0.4s;
    margin-left: 0;

    &-list {
      flex-direction: column;
      align-items: start;
      gap: 30px;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      color: transparent;
      // -webkit-text-stroke: 1px #808080;
      text-shadow:
        -1px 0 #808080,
        0 1px #808080,
        1px 0 #808080,
        0 -1px #808080;
    }

    @keyframes burgerAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .header__nav-list-item:nth-child(n) {
    display: flex;
  }
}

@media only screen and (width <= 576px) {
  .header__contacts {
    display: none;
  }

  .header__contacts-phone {
    flex-direction: column;
    align-items: start;
    gap: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
  }

  .header__nav-list {
    gap: 15px;
    font-size: 20px;
  }
}
