$montserrat: 'Montserrat', Arial, sans-serif;
$mulish: 'Mulish', Helvetica, sans-serif;
$lucidaGrande: 'Lucida Grande', sans-serif;

$weightBold: 700;
$weightSemiBold: 600;
$weightMedium: 500;
$weightRegular: 400;

$size-20: 20px;
$size-16: 16px;
$size-14: 14px;
$size-12: 12px;

$white: #fff;
$black: #000;

$main-bgc: #131313;
$submit-color: #c2ab81;
$paragraph-color: #171717;
$mark-color: #666;
$text-stroke-color: #808080;
